/* ******************************************************************************************************************** */
  /* Fuentes de Google */
  @font-face {
    font-family: 'icomoon';
    src:  url('../gustavosanchezgalarza.me/fonts/icomoon.eot?4xksl0');
    src:  url('../gustavosanchezgalarza.me/fonts/icomoon.eot?4xksl0#iefix') format('embedded-opentype'),
      url('../gustavosanchezgalarza.me/fonts/icomoon.ttf?4xksl0') format('truetype'),
      url('../gustavosanchezgalarza.me/fonts/icomoon.woff?4xksl0') format('woff'),
      url('../gustavosanchezgalarza.me/fonts/icomoon.svg?4xksl0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.icon-menu:before {
    content: "\e907";
}

.icon-route:before {
    content: "\e906";
  }

.icon-user:before {
    content: "\e971";
}

.icon-mongodb:before {
  content: "\e900";
  color: #47a248;
}
.icon-postgresql:before {
  content: "\e901";
  color: #336791;
}
.icon-django:before {
  content: "\e902";
  color: #20AA76;
}
.icon-python:before {
  content: "\e903";
  color: #3776ab;
}
.icon-react:before {
  content: "\e904";
  color: #61dafb;
}
.icon-javascript:before {
  content: "\e905";
  color: #f7df1e;
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text:before {
  content: "\e926";
}

.icon-hammer:before {
  content: "\e996";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-code:before {
  content: "\ea80";
  color: var(--color-palette-2);
}
.icon-html-five:before {
  content: "\eae4";
  color: darkorange;
}
.icon-css3:before {
  content: "\eae6";
  color: #336791;
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

  /* ******************************************************************************************************************** */
  /* Variables Globales */
  :root{
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    --color-palette-1:#e9e6c9;
    --color-palette-2:#ca6144;
    --color-palette-3:#566683;
    --color-palette-4:#393e51;
  }
/* ******************************************************************************************************************** */
  /* Estilos del body */
  body{
    background-color: var(--color-palette-1);
    color: var(--color-palette-4);
    line-height: 1.5rem;
  }

  .container{
    width: 90%;
    max-width: 1536px;
    margin: 0 auto;
  }

  .header{
    background-color: var(--color-palette-4);
    color: var(--color-palette-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left:0rem;
    right: 0rem;
    position: fixed;
    z-index: 2;
    flex-wrap: wrap;
  }

  .logo{
    display: flex;
    align-items: center;
  }

  .logo-icon{
    padding:0.5rem;
    height: 2rem;
    width: 2rem;
  }

  .logo-text{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .hamburguer-menu{
    display:none;
  }

  .navigation{
    display: flex;
  }

  .menu-list{
    list-style: none;
    padding: 0;
    display:flex;
  }

  .menu-list-item{
    padding-right: 1rem;
  }

  .menu-list-item a, a:visited{
    text-decoration: none;
    color: var(--color-palette-1);

  }

  .menu-list-item a:active, a:hover{
    color: var(--color-palette-2);
    
  }
/* ******************************************************************************************************************** */
/* Imagen principal */
.main-image{
  margin: 0;
  width: 100%;
  height: 20%;
  margin-top: 3.5rem;
}

/* ******************************************************************************************************************** */
/* Sobre mi */
.main-aboutme-container{
  display: block;

}

.aboutme-components{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-aboutme-text{
  width: 50%;
  display: block;
}

.main-aboutme-title{
  text-align: center;
}

.aboutme-item{
  display: flex;
  align-items: center;
}

.aboutme-item-icon{
  margin: 0.5rem;
}

.aboutme-item-text{
  font-size: 0.8rem;
  line-height: 1rem;
}

.main-aboutme-image{
  width: 50%;
  margin-top:3rem;
  padding: 0;
  text-align: center;
}

.gusanchephoto{
  width: 85%;
  height: 70%;
  border: 2px solid var(--color-palette-2);
  border-radius: 15px;
}
/* ******************************************************************************************************************** */
/* Estilos para mi ruta de aprendizaje */
.main-myjourney{
  width: 100%;
  display: block;
  text-align: center;
}

.main-myjourney h2{
  margin-top: 1rem;
}
.main-myjourney-text{
  text-align: center;
}

.main-myjourney-articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.myjourney-articles-step{
  border: 1px solid var(--color-palette-3);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 2rem;
  background-color: white;
  width: 9.5rem;
  height: 7.5rem;
  box-shadow: 11px 8px 19px 4px var(--color-palette-3);
  flex-shrink: 0;
  box-sizing: border-box;
  
}

.myjourney-step-title{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-palette-2);
  margin-bottom: 0.8rem;
}

.myjourney-step-description{
  font-size:0.7rem;
  line-height: 1rem;
}

.myjourney-step-images{
  margin-top: 0.8rem;
  font-size: 1.2rem;
}

.myjourney-step-images a{
  text-decoration: none;
  
}

.img-midi{
  width: 60%;
  height: 60%;
}
/* ******************************************************************************************************************** */
/* Estilos para los proyectos del portafolio */
.main-portfolio{
  display: block;

}

.main-portfolio h2{
  text-align: center;
}

.main-portfolio-text{
  text-align:center;
}

.main-portfolio-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  height: auto;
}

.portfolio-project{
  margin: 1rem;
  border: 2px solid var(--color-palette-2); 
  border-radius: 20px;
  height: auto;
  width: 16rem;
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--color-palette-3);
}

.portfolio-project-image{
  width: auto;
  text-align: center;
  padding: 0;
  margin:0;
  border: 0;
}

.project-image{
  width: 100%;
  object-fit: cover;
}

.project-portfolio-content{
  width:85%;
  text-align: center;
  align-items: center;
  margin: 0.5rem auto;
  background-color: var(--color-palette-1);
  padding-bottom: 0.1rem;
  margin-top: -3.5rem;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--color-palette-3);
}

.portfolio-project-title{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
  margin-bottom: 0.3rem;
  color: var(--color-palette-4);
}

.portfolio-project-description{
  text-align:center;
  font-size: 0.7rem;
  line-height: 1rem;
  color:var(--color-palette-4);
  padding:0.2rem;

}

.portfolio-project-pointer{
  
  border-radius: 20px;
  padding: 0;
  width:50%;
  margin:0 auto;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--color-palette-2);
}

.portfolio-project-pointer a{
  text-decoration: none;
  color: var(--color-palette-1)
}

.portfolio-project-pointer a:hover{
  color: var(--color-palette-4)
}
/* ******************************************************************************************************************** */
/* Recursos */
.main-resources{
  display: block;
}

.main-resources h2{
  text-align: center;
}

.main-resources-text{
  text-align: center;
}


.main-resources-table {
  text-align: center;
  align-items: center;
  margin:0 auto;
  margin: 0.5rem;
  font-size: 0.7rem;
  

}

.main-resources-table th, td{
  border: 1px solid black;
  
}

.main-resources-table td{
  text-align: left;
}

.resource-table{
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

.resource-table th{
  padding:1rem;
}

.resource-table span{
  color: var(--color-palette-2);
}

.resource-table td a{
  color: var(--color-palette-4);
  text-decoration: none;
  /* font-weight: bold; */
}

.resource-table td a:hover, a:active{
  color: var(--color-palette-2);
}
/* ******************************************************************************************************************** */
/* Estilos para mi ruta de footer */
.footer{
  background-color: var(--color-palette-3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color-palette-1);
  line-height: 1rem;
  padding: 0.2rem;
}

.social-contact{
  display: flex;
  text-align: center;
  align-items: center;
  /* margin-right: 0 auto; */
}

.social-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
}

.footer-logo{
  width: 70%;
  height: 70%;
}

.footer-name{
  font-size: 0.7rem;
  font-weight: bold;
}

.social-networks a{
  text-decoration: none;
  font-size: 1.3rem;
}

.icon-linkedin, .icon-twitter, .icon-github{
  padding: 0.5rem;
}

.email-contact{
  display: flex;
  align-items: center;
}

.email-contact p{
  font-size: 0.7rem;
  padding-right: 0.4rem;
}

.email-text{
  font-size: 0.6rem;
  border-radius: 5px;
}
.email-button{
  border-radius: 0.4rem;
  font-size: 0.6rem;
}

.copyright{
  background-color: var(--color-palette-4);
  color: var(--color-palette-1);
  text-align:center;
  font-size: 0.5rem;
}

.copyright p{
  padding:0;
  margin: 0;
}

/* ******************************************************************************************************************** */
/* ******************************************************************************************************************** */
/* ******************************************************************************************************************** */
/* Ajustes de media queries 1264px */
@media screen and (max-width:1264px) {

  .logo-icon{
    padding: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .logo-text{
    font-size: 0.6rem;
  }

  .navigation{
    font-size: 0.5rem;
  }

  .main-image {
    margin-top: 2.5rem;
  }
  .main-aboutme-text{
    width: 100%;
    display: block;
  }

  .aboutme-item-text{
    font-size: 0.5rem;
    line-height: 0.7rem;
  } 
  
  .aboutme-item-icon{
    margin:0 0.3rem 0 0;
  }

  .social-contact{
    margin: 0 auto;
  }

  .email-contact{
    margin: 0 auto;
  }

  .main-aboutme-image{
    margin-top:1rem;
  }
}
/* Ajustes de media queries 767px */
@media screen and (max-width:767px) {
  
  .main-image {
    margin-top: 2.0rem;
  }

  .hamburguer-menu{
    display:block;
    cursor: pointer;
    padding-right: 1rem;
  }

  .navigation {
    width: 100%;
  }

  .navigation ul{
    display: none;
  }

  .navigation ul.show{
    display: block;
    width: 100%;
    text-align: center;
  }

  .menu-list-item {
    padding-right: 0;
    line-height: 1rem;
  }
 
  .main-aboutme-title{
    margin:0.5rem;
  }

  .aboutme-components{
    display: block;
    align-items: center;
  }
  
  .main-aboutme-text{
    width: 100%;
  }
  
  .aboutme-item-icon{
    margin: 0.4rem;
  }
  
  .aboutme-item-text{
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  
  .main-aboutme-image{
    width: 70%;
    margin: 0 auto;
  }

  .main-myjourney-text {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .myjourney-articles-step{
    margin: 0.5rem;
  }

  .main-portfolio-text{
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .portfolio-project{
    margin: 0;
    flex-shrink:1;
  }

  .main-resources-text{
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .main-resources-table {
    margin:0.3rem;
  }

  .resource-table th{
    padding: 0;
  }

  .footer{
    display: block;
  }

  .footer-name{
    font-size: 0.5rem;
  }
  
  .footer-logo{
    width: 50%;
    height: 50%;
  }
  .social-networks a{
     font-size: 0.8rem;
  }

  .email-contact{
    display: block;
    text-align: center;
  }

  .email-contact p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .email-submit-form{
    margin-bottom: 0.5rem;
  }

  .social-contact {
    margin: 0 auto;
  }
}

/* Ajustes de media queries 384px */
@media screen and (max-width:384px) {

  .footer-name {
    font-size: 0.4rem;
  }

  .social-contact {
    margin: 0 auto;
  }

  .icon-linkedin, .icon-twitter, .icon-github {
    padding: 0.2rem;
  }
}